/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html { font-size: 50%; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    margin-top: 5vh;
    width: 80%;
    max-width: 1300px;
    text-align: center;
    color: #333;
    margin-bottom: 8vh;
}

/* 헤더 및 캐릭터 이름 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.characters { font-size: 12px; }

.header .relation, .header .date {
    font-family: 'pretendard';
    font-size: 14px;
    color: #888;
}

.header .pairname {
    font-family: 'sought';
    font-size: 70px;
    color: #3c3c3c;
}

.header .date .time {
    font-size: 14px;
}

/* 캐릭터 카드 섹션 */
.character-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    height: 55rem;
    flex-shrink: 0;
    width: 90%;
    margin-left: 90px;
}

.character-card {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    height: 90rem;
    position: relative;
    
}

.tag {
    transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
}

.tag:hover {
    transform: scale(1.05); /* 마우스오버 시 약간 확대 */
}

.strap {
    position: absolute;
    scale: 45%;
    top: 105px;
    right: 50px;
    z-index: 10;
}



.tag-circle {
    width: 20.856rem;
    height: 28.89256rem;
    transform: rotate(20.374deg);
    flex-shrink: 0;
    background-color: #333;
    border-radius: 50%;
    margin-bottom: -10px;
    position: relative;
    top: 210px;
    right: 50px;
    scale: 105%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}



.tag-circle-inner {
    width: 19.75719rem;
    height: 27.50506rem;
    transform: rotate(20.374deg);
    flex-shrink: 0;
    z-index: 2;
    border-radius: 999%;
    border: 1px solid #FFF;
    position: absolute;
    right: 59px;
    bottom: 285px;
    scale: 103%;
}

.tag-rectangle-top { 
    width: 21.4375rem;
    height: 8.25rem;
    flex-shrink: 0; 
    display: inline-block;
    border-bottom: 10rem solid #ddd;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    position: relative;
    top: 2px;
    z-index: -1;
    filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0.3));
}

.tag-rectangle {
    background-color: #ddd;
    padding: 10px;
    text-align: left;
    position: relative;
    top: -1px;
    width: 21.4375rem;
    height: 45rem;
    flex-shrink: 0;
    z-index: -1;
    overflow: hidden;
    filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0.3));
}

.name {
    font-family: 'sought';
    font-size: 60px;
    position: relative;
    text-align: right;
    top: 128px;
    left: 52px;
    rotate: 90deg;
}

.nickname {
    font-family: 'Segoe Script';
    position: relative;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    rotate: 90deg;
    left: 10px;
    top: 165px;
    text-align: right;
}

.commission {
    font-family: 'pretendard';
    font-size: 13px;
    position: relative;
    rotate: 90deg;
    top: 220px;
    right: 70px;
}

.details {
    font-family: 'pretendard';
    font-size: 12px;
    color: #888;
    position: relative;
    top: 245px;
    width: 90px;
    text-align: left;
    margin-left: 15px;
}

/* colorchip 스타일 추가 */
.colorchip {
    width: 20px; /* 색상 박스의 너비 */
    height: 20px; /* 색상 박스의 높이 */
    margin: 2px; /* 색상 박스 사이의 간격 */
    margin-left: 8px;
}

.info {
    font-family: 'pretendard';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.colorchips-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px; /* 두 색상 박스 사이의 간격 */
    margin-left: 10px;
    margin-top: 268px;
}

.source { font-family: 'pretendard';
    font-size: 10px;
color: #afafaf;}

.footer {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}

.footer .sentence {
    font-family: "Segoe Script";
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
}

.footer .key {
    font-size: 12px;
    color: #888;
}

.keywords {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.key1 {
    font-family: 'pretendard';
    text-align: left;
    font-size: 11px;
}

.key2 {
    font-family: 'pretendard';
    text-align: right;
    font-size: 11px;
}

.triangle {
    position: absolute;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 45vh;
}

.tri1 {
    scale: 40%;
}

.tri2 {
    scale: 40%;
}

/* 팝업 및 배경 레이어 스타일 */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 121.9375rem;
    height: 68.8125rem;
    flex-shrink: 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1001;
    border-radius: 8px;
    text-align: center;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.pdiv1 {
    display: flex;
    flex-direction: column;
}

.pdiv2 { 
    height: 450px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.characterimg {
    width: 300px;
    height: 100%;
}

.pdiv3 { width: 500px;
    text-align: left;
margin-left: 20px; }
